
MoodTrackerAPI/obj/project.nuget.cache

MoodTrackerAPI/obj/Debug/netcoreapp3.1/apphost.exe

MoodTrackerAPI/obj/Debug/netcoreapp3.1/MoodTrackerAPI.assets.cache

MoodTrackerAPI/obj/MoodTrackerAPI.csproj.nuget.dgspec.json

MoodTrackerAPI/obj/MoodTrackerAPI.csproj.nuget.g.props

MoodTrackerAPI/obj/project.assets.json

MoodTrackerAPI/obj/Debug/netcoreapp3.1/MoodTrackerAPI.csproj.AssemblyReference.cache
